body {
  margin: 0;
}

.italic {
  font-style: italic;
}

.color-light-grey {
  color: #B0BEC5;
}

.discussion {
  margin: 10px;
}

.author-link:link {
  text-decoration: none;
}


.child-comment {
  padding: 0px 10px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .child-comment {
    margin-left: 5px;
  }
}
