body {
  margin: 0;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.light {
  font-size: 13px;
}

.text-right {
  text-align: right;
}

.color-light-grey {
  color: #B0BEC5;
}

.discussion {
  margin: 15px 20px;
}

.comment-header {
  margin: 20px 0 10px 0;
  font-size: 17px;
  color: #78909C;
}
.comment-header > *{
  margin-right: 15px;
}

.comment-group {
  margin-bottom: 15px;
}
.comment-group > * {
  margin-bottom: 10px;
}

.child-comment {
  padding-left: 10px ;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .child-comment {
    margin-left: 5px;
  }
}

.edit-buttons {
  margin: 10px 10px 0 0;
}
.edit-buttons > * {
  margin-left: 10px;
}


/* Rich editor CSS from https://github.com/facebook/draft-js/blob/master/examples/rich/RichEditor.css */
.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 14px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
}

.RichEditor-activeButton {
  color: #5890ff;
}
